# Set the default charset.
AddDefaultCharset UTF-8

# Don't show directory listings for URLs which map to a directory.
Options -Indexes

# Enable symlinks
Options +FollowSymlinks

# Enable mod_rewrite
RewriteEngine On
RewriteBase /

# Backend redirect
RewriteCond %{REQUEST_URI} ^/backend
RewriteRule ^backend/(.*)$ backend/web/$1 [L]

# Storage redirect
RewriteCond %{REQUEST_URI} ^/store
RewriteRule ^storage/(.*)$ storage/upload/$1 [L]

# Frontend redirect
RewriteCond %{REQUEST_URI} ^/(.*)$
RewriteRule ^(.*)$ frontend/web/$1

# Api redirect
RewriteCond %{REQUEST_URI} ^/api(.*)$
RewriteRule ^(.*)$ api/web/$1

RewriteCond %{HTTP_HOST} ^pay2annapurnafinance\.in [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.pay2annapurnafinance.in/$1 [R,L]
