# Set the default charset.
AddDefaultCharset UTF-8

# Don't show directory listings for URLs which map to a directory.
Options -Indexes

# Enable symlinks
Options +FollowSymlinks

# Enable mod_rewrite
RewriteEngine On
RewriteBase /

# Backend redirect
RewriteCond %{REQUEST_URI} ^/onlineportal/backend
RewriteRule ^backend/(.*)$ onlineportal/backend/web/$1 [L]

# Agent redirect
RewriteCond %{REQUEST_URI} ^/onlineportal/agent
RewriteRule ^backend/(.*)$ onlineportal/agent/web/$1 [L]

# Storage redirect
RewriteCond %{REQUEST_URI} ^/onlineportal/store
RewriteRule ^storage/(.*)$ onlineportal/storage/upload/$1 [L]

# Frontend redirect
RewriteCond %{REQUEST_URI} ^/onlineportal/(.*)$
RewriteRule ^(.*)$ onlineportal/frontend/web/$1

# Api redirect
RewriteCond %{REQUEST_URI} ^/onlineportal/api(.*)$
RewriteRule ^(.*)$ onlineportal/api/web/$1
